<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23344385145-sbl6rkhdpe0qdaqrh7spnolglbv1918p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23344385145-sbl6rkhdpe0qdaqrh7spnolglbv1918p</string>
	<key>API_KEY</key>
	<string>AIzaSyChxF3qijntsqBe6jCqG3QqTEZeVCo0bTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>23344385145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.okanerdincarslan.loveApp</string>
	<key>PROJECT_ID</key>
	<string>date-app-5e749</string>
	<key>STORAGE_BUCKET</key>
	<string>date-app-5e749.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23344385145:ios:8754061ce4cc4c88f898a8</string>
</dict>
</plist>